.container_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
.container_2 .text-area {
    width: 50%;
    min-width: 700px;
}
.container_2 .text-area h2 {
    font-size: 7em;
    border-bottom: 3px solid black;
    margin: 0 0 10px 0;
}
.container_2 .text-area p {
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.5;
}
.container_2 img {
    height: 85%;
    min-height: 650px;
    border: 7px solid black;
}
